.button {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: white;
  padding: 12px 24px;
  border: 2px solid royalblue;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 0.2s ease;
  z-index: 0;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: olivedrab;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  z-index: -1;
}

.button:hover::before {
  transform: translateY(0%);
}

.button span {
  position: relative;
  z-index: 1;
}

.button:hover {
  color: white;
  transform: translateY(-2px);
  transition: transform 0.2s ease, color 0.4s ease;
}

.button:active {
  transform: scale(0.8);
}

.header-button {
  margin: 0 8px;
}

.form-button {
  background-color: royalblue;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
}

.form-button:hover {
  background-color: royalblue;
  color: white;
  transform: none;
}

.form-button::before {
  display: none !important;
}

.form-button:active {
  transform: none;
}
.search-trigger-button {
  color: black;
}
