.card {
  width: 14rem;
  height: 14rem;
  /* background-color: whitesmoke; */
  background-color: darkslateblue;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
  background-color: deepskyblue;
  transition: 1.5s;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.4rem;
}

.card p {
  margin: 0;
  font-size: 0.95rem;
  color: #666;
  line-height: 1.5;
}
