.footer {
  text-align: center;
  padding: 10px 0 24px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 2px 12px rgba(245, 245, 245, 0.515);
  background-color: midnightblue;
}
