.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2.5rem 2rem;
  margin-bottom: 4rem; 
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .homepage {
    grid-template-columns: 1fr;
    padding: 1.5rem 1rem;
  }
}
